<%- include("./partials/header-forum") %>
<main>
    <form method="post" action="/forum" class="forms" name="forms">
        <fieldset>
            <legend>Crie uma nova categoria</legend>
            <div class="form-group">
                <label for="title">Nome</label>
                <input type="text" class="form-control" id="categoryName" name="categoryName"
                    placeholder="Escreva o nome" required>
            </div>
            <div class="form-group">
                <label for="body">Descrição da categoria</label>
                <textarea class="form-control" id="categoryBody" name="categoryBody"
                    placeholder="Descreva a categoria" maxlength="100" required></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar category" class="btnPostar">
            </div>
        </fieldset>
    </form>
</main>
<%- include("./partials/footer") %>