<%- include("./partials/header-forum") %>
<main>
    <form method="post" action="/categories/<%= category %>" class="forms" name="forms">
        <fieldset>
            <legend>Escreva um novo post</legend>
                <div class="form-group">
                    <label for="title">Título</label>
                    <input type="text" class="form-control" id="postTitle" name="postTitle"
                        placeholder="Escreva um título" required>
                </div>
                <div class="form-group">
                    <label for="body">Descrição do Post</label>
                    <textarea class="form-control" id="postBody" name="postBody"
                        placeholder="Descreva o seu post" maxlength="100" required></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Criar post" class="btnPostar">
                </div> 
        </fieldset>
    </form>
</main>   
<%- include("./partials/footer") %>