<footer>
    <a href="/"><img src="" alt="LogoTipo" class="logo"></a>
    <ul id="footerPages">
        <li><a href="/">News</a></li>
        <li><a href="/reviews">Reviews</a></li>
        <li><a href="/forum">Forum</a></li>
        <li><a href="/login">Login/Register</a></li>
    </ul>
</footer>
</body>
</html>