<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/whiteModeSite.css" id="activeTheme" class="light">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="/scripts/app.js"></script>
    <title>IberGames</title>
</head>

<body>
    <header>
        <a href="/"><img src="" alt="LogoTipo" class="logo"></a>
        <ul id="navigationPages">
            <li><a href="/">News</a></li>
            <li><a href="/reviews">Reviews</a></li>
            <li><a href="/forum">Forum</a></li>
        </ul>
        <div id="userButtons">
            <a href="/" id="homeButton"><img src="" alt="homeButton"></a>
            <button id="themeButton" onclick="changeMainPageTheme()"><img></button>
            <% if (typeof user == 'undefined'){ %>
                <a href="/login" id="loginButton"><img src="" alt="loginButton"></a>
            <% } %>
            <% if (typeof user != 'undefined'){ %>
                <form action="/logout" method="post">
                    <button type="submit" id="logoutButton"><img></button>
                </form>
            <% } %>
        </div>
    </header>